@import "tailwindcss";

:root {
  --color-primary: 100, 24, 127; /* RGB значения для #64187f */
}

@layer utilities {
  .text-primary {
    color: rgb(var(--color-primary));
  }
  .bg-accent {
    background-color: rgb(var(--color-primary));
  }
}
