@import "tailwindcss";

:root {
  --color-primary: 100, 24, 127; /* RGB значения для #64187f */
}

html {
  overflow-y: scroll; /* Всегда резервируем место для вертикального скроллбара */
}

@layer utilities {
  .text-primary {
    color: rgb(var(--color-primary));
  }
  .bg-accent {
    background-color: rgb(var(--color-primary));
  }
  
  .filter-input {
    @apply w-full p-2 border border-gray-300 rounded-md focus:ring-[rgb(100,24,127)] focus:border-[rgb(100,24,127)];
  }
}
